<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台管理-一级分类管理</title>
  <!-- bootstrap样式 -->
  <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
  <!-- 引入公共样式 -->
  <link rel="stylesheet" href="./css/common.css">
</head>

<body>
  <div class="main">
    <div class="main_left">
      <a href="index.html" class="logo">ITCAST</a>
      <div class="user">
        <img src="./images/default.png" alt=""> 超级管理员
      </div>
      <div class="list">
        <ul>
          <li>
            <a href="userManage.html" class="urerManage">用户管理</a>
          </li>
          <li>
            <a href="javascript:;" class="claManage">分类管理</a>
            <div class="listManage">
              <a href="oneManage.html" class="oneManage">一级分类管理</a>
              <a href="twoManage.html" class="twoManage">二级分类管理</a>
            </div>
          </li>
          <li>
            <a href="javascript:;" class="shopManage">商品管理</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main_right">
      <div class="right_title">
        <span class="glyphicon glyphicon-fullscreen fullScreen"></span>
        <span class="glyphicon glyphicon-share pull-right exitLogin"></span>
      </div>
      <div class="box">
        <div class="box_nav">
          管理系统 / 一级分类管理
        </div>
        <div class="box_content">
                  <!-- 添加一级分类 按钮 -->
            <button type="button" class="addOneManageBtn btn btn-primary" data-toggle="modal" data-target="#myModal">
                添加一级分类
            </button>
          <!-- 表格 -->
          <table border="1">
            <thead>
              <tr>
                <th>编号</th>
                <th>一级分类名称</th>
              </tr>
            </thead>

            <tbody class="tbody">
              
            </tbody>
          </table>

          <!-- 分页模块 -->
        <div class="clearfix">
            <div class="boxPage pull-right">
                <ul class="pagination"></ul>
            </div>
        </div>


  
  <!-- 添加一级分类数据 模态框 -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加一级分类数据</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="recipient-name" placeholder="请输入分类名称">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>



        </div>
      </div>
    </div>
  </div>
  

  <!-- 表格模板 -->
  <script type="text/template" id="templOneManage">
    <% for(var i=0;i<rows.length;i++){ %>
      <tr>
        <td><%= (page-1) * size + i + 1 %></td>
        <td><%=rows[i].categoryName%></td>
      </tr>
      <% }%>
  </script>

</body>

</html>
<!-- 引入jQuery -->
<script src="./assets/jquery/jquery.min.js"></script>
<!-- 引入模板引擎 -->
<script src="./assets/artTemplate/template-native.js"></script>
<!-- 引入boostrap -->
<script src="./assets/bootstrap/js/bootstrap.js"></script>
<!-- 引入分页js -->
<script src="./assets/bootstrap-paginator/bootstrap-paginator.js"></script>
<!-- 引入当前页面js -->
<script src="./js/oneManage.js"></script>
